<?xml version="1.0"?>
<configuration>
  <!--list of servers with credential-->
  <servers>
    <server address="localhost" name="Local Machine" username="sa" password="sa"></server>
    <server address="10.6.0.238" name="QA" username="sa" password="saqa123"></server>
    <server address="10.6.0.60" name="DotNetQA" username="sa" password="sa123"></server>
  </servers>
</configuration>
